/* .navbar {
  position: relative;
  width: 97%;
  margin-left: 2%;
  height: 90%;
  margin-top: 17%;
}

.navbarIncident {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 0, 55);
  position: absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.8;
}
.navbarRadar {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: rgb(15, 197, 252);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.8;
}

.incidentBtn {
  position: absolute;
  width: 40%;
  margin-left: 5%;
  height: 47px;
  background-color: rgb(255, 0, 55);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  top: -47px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-style: bold;
  cursor: pointer;
  opacity: 0.8;
}

.incidentBtn::after {
  content: "";
  width: 20px;
  height: 50px;
  background-color: inherit;
  position: absolute;
  left: -7px;
  top: 7px;
  transform: rotate(30deg);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 3px;
}
.incidentBtn::before {
  content: "";
  width: 20px;
  height: 50px;
  background-color: inherit;
  position: absolute;
  right: -7px;
  top: 7px;
  transform: rotate(-30deg);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 3px;
}

.shareBtn {
  position: absolute;
  width: 40%;
  height: 47px;
  background-color: rgb(15, 197, 252);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  top: -47px;
  display: flex;
  margin-right: 5%;
  right: 0;
  align-items: center;
  justify-content: center;
  color: white;
  font-style: bold;
  cursor: pointer;
  opacity: 0.8;
}

.shareBtn::after {
  content: "";
  width: 20px;
  height: 50px;
  background-color: inherit;
  position: absolute;
  left: -7px;
  top: 7px;
  transform: rotate(30deg);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 3px;
}
.shareBtn::before {
  content: "";
  width: 20px;
  height: 50px;
  background-color: inherit;
  position: absolute;
  right: -7px;
  top: 7px;
  transform: rotate(-30deg);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 3px;
}

.active {
  z-index: 2;
  opacity: 1;
} */

.navbar {
  width: 94%;
  margin-top: 70px;
  margin-left: 3%;
  height: 88vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: transparent;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

.navbarRadar {
  position: absolute;
  background-color: rgb(24, 197, 240);
  width: 96%;
  height: 88vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px -5px 2px rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}

.listRadar,
.listIncidents {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.navbarIncident {
  position: absolute;
  background-color: rgb(240, 24, 60);
  width: 96%;
  height: 88vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px -5px 2px rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}

.shareBtn {
  width: 30%;
  height: 55px;
  background-color: inherit;
  position: absolute;
  top: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #242424;
  left: 0;
  box-shadow: 5px -5px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: width 0.2s ease;
}
.incidentBtn {
  width: 30%;
  height: 55px;
  background-color: inherit;
  position: absolute;
  top: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #242424;
  right: 0;
  box-shadow: -5px -5px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.2s ease;
}

.active {
  z-index: 2;
  opacity: 1;
}

.activeBtn {
  z-index: 2;
  opacity: 1;
  width: 70%;
  font-size: 1.6rem;
}
